-
  data = {
    title: 'Tupoksi',
    content: '<ol><li>Dinas mempunyai tugas pokok melaksanakan urusan pemerintahan Daerah di bidang olahraga dan pemuda berdasarkan asas otonomi, dekonsentrasi dan tugas pembantuan</li><li>Dalam menyelenggarakan tugas pokok sebagaimana dimaksud pada ayat (1), Dinas mempunyai fungsi : <ul><li>Penyelenggaraan perumusan dan penetapan kebijakan teknis urusan keolahragaan, kepemudaan, kemitraan dan sarana prasarana;</li><li>Penyelenggaraan urusan olahraga dan pemuda meliputi keolahragaan, kepemudaan, kemitraan dan sarana prasarana;</li><li>Penyelenggaraan pembinaan dan pelaksanaan tugas - tugas olahraga dan pemuda meliputi keolahragaan, kepemudaan, kemitraan dan sarana prasarana;</li><li>Pengkoordinasian dan pembinaan UPTD;</li><li>Pelaksanaan tugas lain sesuai dengan tugas dan fungsinya.</li></ul></li></ol>'
  };

include ../../layouts/profile.pug
