/* ==========================================================================
Layout: Header
========================================================================== */

.header {
  $h: &;
  position: fixed;
  top: 0;
  left: 0;
  z-index: zi(header);
  width: 100%;
  background-color: color(white);
  padding: 24px 0;
  @include shadow(0);
  &__inner {
    position: relative;
    @include clearfix;
  }
  &__left {
    float: left;
  }
  &__right {
    float: right;
    @include clearfix;
  }
  &__logo {
    display: block;
    text-decoration: none;
    img {
      display: block;
      height: 40px;
    }
  }
  &__nav {
    float: left;
    margin: 8px 0;
  }
  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
    @include clearfix;
  }
  &__item {
    float: left;
    margin-right: 40px;
  }
  &__link {
    display: block;
    font-family: ff(title);
    font-weight: fw(500);
    text-decoration: none;
    @include font-size(16);
    transition: all .3s ease;
    &:hover {
      color: color(primary);
    }
  }
  &__icon {
    outline: 0;
    border: 0;
    padding: 0;
    margin: 6px 0 4px;
    background-color: transparent;
    transition: all .3s ease;
    &:hover {
      color: color(primary);
    }
    i {
      @include font-size(24);
      line-height: 1;
    }
  }
  &__search {
    position: absolute;
    top: 0;
    left: 0;
    z-index: zi(header-search);
    display: table;
    width: 100%;
    height: 180px;
    padding-top: 64px;
    visibility: hidden;
    .show-search & {
      visibility: visible;
    }
    &::before {
      content: "";
      position: fixed;
      top: 0;
      left: 0;
      z-index: zi(header-search-before);
      width: 100%;
      height: 220px;
      opacity: 0;
      visibility: hidden;
      background-color: color(white);
      transform: scaleX(0);
      transform-origin: top;
      transform: translateY(-100%);
      transition: all 0.5s ease 0.4s;
      @include medium {
        height: calc(50% - 48px);
      }
      @include small {
        height: 100%;
        .show-menu & {
          transform: translateX(-100%);
        }
      }
      .show-search & {
        transform: none;
        opacity: 1;
        visibility: visible;
        transition-delay: 0.2s;
      }
    }
    &__bg {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      background-color: color(grey, 3);
      backdrop-filter: blur(20px);
      opacity: 0;
      visibility: hidden;
      transform: scaleY(1);
      transform-origin: top;
      transition: all 0.5s ease 0.5s;
      @include small {
        display: none;
      }
      .show-search & {
        transform: none;
        opacity: 1;
        visibility: visible;
        transition-delay: 0s;
      }
    }
    &__box {
      position: relative;
      z-index: zi(header-search-box);
      display: table-cell;
      vertical-align: middle;
      opacity: 0;
      visibility: hidden;
      transform: translateY(-24px);
      transition: all 0.4s ease 0s;
      @include small {
        display: block;
        .show-menu & {
          transform: translateX(-24px);
        }
      }
      .show-search & {
        transform: none;
        opacity: 1;
        visibility: visible;
        transition-delay: 0.6s;
      }
    }
    &__form {
      position: relative;
    }
    &__inp {
      display: block;
      width: 100%;
      border: 0;
      font-family: ff(title);
      @include font-size(20);
      font-weight: fw(500);
      background-color: transparent;
      padding: 8px 16px 8px 48px;
    }
    &__btn {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      border: 0;
      outline: 0;
      background-color: transparent;
      @include font-size(24);
      line-height: 1;
    }
  }
  .burger-menu {
    display: none;
  }
}
