/* ==========================================================================
   Layouts Sosmed
   ========================================================================== */

.sosmed {
  padding: 32px 0 64px;
  &__head {
    text-align: center;
    margin-bottom: 32px;
  }
  &__body {
    margin-left: -12px;
    margin-right: -12px;
    @include clearfix;
  }
  &__item {
    float: left;
    width: 60%;
    height: 400px;
    padding: 12px;
    &:nth-child(2) {
      width: 40%;
    }
    &:nth-child(3) {
      width: 40%;
    }
    &:last-child {
      width: 60%;
    }
  }
  &__box {
    display: block;
    border:none;
    overflow:hidden;
    width: 100%;
    height: 100%;
    background-color: color(grey, 1);
    .twitter-tweet {
      margin-top: 0 !important;
    }
  }
}
