-
  data = {
    title: 'Struktur Organisasi',
    content: '<a class="js-popup-image" href="assets/img/dummy//struktur-organisasi.jpg"><img src="assets/img/dummy/struktur-organisasi.jpg" alt="struktur-organisasi" /></a>'
  };

include ../../layouts/profile.pug
