//-------------------------------------------------------------------------------
  @name: popup
  -------------------------------------------------------------------------------//

// popup
.popup
  ='\n'
  button(type="button" class="popup__close js-hide-popup")
    ='\n'
    i.dc-close
  ='\n'
  .container
    .popup__wrapper
      .popup__content
        .popup__left
          .popup__head
            .popup__img
              ='\n'
              img.popup__img__el(src="assets/img/dummy/jabar-logo.png" alt="image")/
            .popup__txt
              h2.popup__name
                | name
              p.popup__position
                | position
        .popup__right
          .popup__body
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam laudantium sint quod, ipsum officiis suscipit consectetur alias exercitationem architecto? Modi porro nulla facilis consequuntur excepturi pariatur fuga voluptates rerum, explicabo, quam quod dicta voluptatibus corrupti error, consectetur molestias consequatur praesentium placeat repudiandae dolorum sapiente at natus? Illo cumque ut explicabo similique nihil, consectetur exercitationem consequatur reiciendis nobis? Praesentium qui quisquam illum beatae ipsam incidunt totam sed consequatur ducimus, fuga animi molestias quaerat quod perferendis debitis labore vitae quia eos consequuntur accusantium iure, nihil odit! Laborum quas voluptates hic inventore explicabo error harum debitis nihil praesentium incidunt autem, sunt, tempore ex.

='\n'
// end-popup
