//-------------------------------------------------------------------------------
  @name: Program Card
  -------------------------------------------------------------------------------//

// program-card
.program-card
  .program-card__box
    ='\n'
    a.program-card__link(href=data.to)
    ='\n'
    img.program-card__img(src="assets/img/dummy/"+data.img alt=data.alt)/

='\n'
// end-program-card
