/* ==========================================================================
   Init: Default
   ========================================================================== */

body {
  font-family: ff(primary);
  font-weight: fw(400);
  background-color: color(white);
  color: color(black, 1);
  @include font-size(16);
  &.rm-scroll {
    overflow: hidden;
    touch-action: none;
  }
  &.hold-transition {
    *,
    *::before,
    *::after {
      transition: none !important;
    }
  }
}

h1 {
  @include font-size(40);
  font-weight: fw(600);
}

h2 {
  @include font-size(32);
  font-weight: fw(600);
}

h3 {
  @include font-size(24);
  font-weight: fw(600);
}

h4 {
  @include font-size(20);
  font-weight: fw(600);
}

h5 {
  @include font-size(18);
  font-weight: fw(600);
}

h6 {
  @include font-size(16);
  font-weight: fw(600);
}

p,
li,
td,
label {
  @include font-size(16);
  @include retina {
    @include font-size(14);
  }
}

strong,
b {
  font-weight: fw(700);
}
