/* ==========================================================================
  Components Card
  ========================================================================== */

.card {
  $c: &;
  &__box {
    position: relative;
    overflow: hidden;
  }
  &__link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: zi(card-link);
    @include remove-tap-highlight;
  }
  &__img {
    width: 200px;
    height: 200px;
    margin: 0 auto 24px;
    &__el {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain
    }
  }
  &__txt {
    margin: 0 auto;
    max-width: 240px;
    text-align: center;
  }
  &__name {
    font-family: ff(title);
    @include font-size(20);
    @include multiline-ellipsis(2);
    transition: all .3s ease;
    @include x-small {
      @include font-size(16);
    }
  }
  &__position {
    @include font-size(16);
    color: color(secondary);
    @include multiline-ellipsis(2);
    margin-bottom: 0;
  }
}
