/* ==========================================================================
   Components Form Element
   ========================================================================== */

.fe {
  $fe: &;
  &__row {
    position: relative;
    margin-bottom: 32px;
    @include clearfix;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__label {
    font-weight: fw(700);
    @include x-small {
      @include font-size(14);
    }
  }
  &__control {
    display: block;
    outline: 0;
    width: 100%;
    border: 1px solid color(grey, 2);
    background-color: color(white);
    padding: 10px 16px;
    @include font-size(16);
    font-weight: fw(400);
    @include radius(0);
    transition: all 0.3s ease;
    @include x-small {
      @include font-size(14);
    }
    &:focus {
      border-color: color(primary);
    }
    .wrong &,
    .error & {
      border-color: color(danger);
    }
    &.password {
      padding-right: 56px;
    }
    &[readonly] {
      background-color: color(grey, 2);
    }
    &--sm {
      padding: 4px 8px;
    }
  }
  &__auth {
    padding: 16px;
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid color(grey, 2);
  }
  &__icon {
    @include font-size(20);
    position: absolute;
    right: 16px;
    bottom: 16px;
    z-index: zi(fe-icon);
    cursor: pointer;
    @include x-small {
      @include font-size(16);
    }
  }
  &__alert {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    bottom: -24px;
    left: 0;
    z-index: zi(fi-alert);
    @include font-size(12);
    color: color(danger);
    text-align: left;
    margin-bottom: 0;
    transform: translateX(-8px);
    transition: all 0.35s ease;
    @include small {
      bottom: -20px;
    }
    @include x-small {
      @include font-size(12);
    }
    .wrong &,
    .error & {
      opacity: 1;
      transform: none;
      visibility: visible;
    }
  }
}
