/* ==========================================================================
   Grid System
   ========================================================================== */

.container {
  width: 100%;
  max-width: $mw-container;
  margin-left: auto;
  margin-right: auto;
  @include large {
    max-width: initial;
    padding-left: 32px;
    padding-right: 32px;
  }
  @include small {
    padding-left: 24px;
    padding-right: 24px;
  }
  @include x-small {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.main-site {
  padding-top: 88px;
  transition: all 0.3s ease;
  transition-delay: 0.1s;
  @include large {
    padding-top: 80px;
  }
  @include medium {
    padding-top: 72px;
  }
  @include x-small {
    padding-top: 64px;
  }
  .show-popup & {
    transform: scale(0.95) translateY(-80px);
    transition: all 0.45s ease;
    transition-delay: 0s;
  }
}
