/* ==========================================================================
   Elements Button
   ========================================================================== */

.btn {
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  min-width: 240px;
  padding: 16px 24px;
  outline: 0;
  border: solid 1px transparent;
  @include font-size(18);
  font-weight: fw(700);
  text-align: center;
  color: color(black, 1);
  background-color: transparent;
  transition: all 0.3s ease;
  cursor: pointer;
  @include radius(1);
  @include remove-tap-highlight;
  @include x-small {
    min-width: 160px;
    padding: 10px 16px;
    @include font-size(16);
    font-weight: fw(600);
  }
  @include retina {
    @include font-size(14);
  }
  &--primary {
    background-color: color(primary);
    color: color(white);
    &:hover {
      background-color: transparent;
      border-color: color(primary);
      color: color(primary);
    }
  }
  i,
  span {
    display: inline-block;
    vertical-align: middle;
  }
  i {
    @include font-size(24);
    line-height: 1 !important;
    margin-right: 8px;
  }
}

.btn-text {
  text-decoration: none;
  padding: 0;
  outline: 0;
  border: 0;
  font-family: ff(title);
  @include font-size(18);
  font-weight: fw(600);
  color: color(primary);
  background-color: transparent;
  @include remove-tap-highlight;
  @include x-small {
    @include font-size(16);
  }
  &:hover {
    i {
      transform: translateX(8px);
    }
  }
  i {
    display: inline-block;
    vertical-align: middle;
    margin-left: 8px;
    @include font-size(24);
    transition: all 0.3s ease;
  }
  span {
    display: inline-block;
    vertical-align: middle;
  }
}
