/* ==========================================================================
   Elements Icon
   ========================================================================== */

[class^="dc-"], [class*=" dc-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'dispora-icon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dc-close:before {
  content: "\e911";
}
.dc-search:before {
  content: "\e908";
}
.dc-chevron-right:before {
  content: "\e917";
  color: #fff;
}
.dc-chevron-up:before {
  content: "\e918";
  color: #fff;
}
.dc-chevron-left:before {
  content: "\e919";
  color: #fff;
}
.dc-chevron-down:before {
  content: "\e901";
  color: #fff;
}
.dc-facebook:before {
  content: "\e90a";
  color: #fff;
}
.dc-instagram:before {
  content: "\e90d";
  color: #fff;
}
.dc-mail:before {
  content: "\e90f";
  color: #fff;
}
.dc-twitter:before {
  content: "\e913";
  color: #fff;
}
.dc-whatsapp:before {
  content: "\e915";
  color: #fff;
}
.dc-youtube:before {
  content: "\e916";
  color: #fff;
}
