/* ==========================================================================
   Elements Text Title
   ========================================================================== */

.text-title {
  $t: &;
  font-family: ff(title);
  position: relative;
  display: inline-block;
  @include font-size(32);
  margin-bottom: 0;
  @include small {
    @include font-size(24);
  }
  &__bar {
    display: block;
    position: absolute;
    bottom: -8px;
    left: 24px;
    width: 24px;
    height: 2px;
    background-color: color(primary);
    @include small {
      width: 16px;
    }
    @include x-small {
      display: none;
    }
    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: -24px;
      display: block;
      width: 24px;
      height: 2px;
      background-color: color(secondary);
      border-radius: 8px 0 0 8px;
      @include small {
        left: -16px;
        width: 16px;
      }
    }
    &::after {
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      left: 24px;
      width: 24px;
      height: 2px;
      background-color: color(tertiary);
      border-radius: 0 8px 8px 0;
      @include small {
        left: 16px;
        width: 16px;
      }
    }
  }
  &--center {
    #{$t} {
      &__bar {
        top: 50%;
        left: -72px;
        transform: translateY(-50%);
        @include small {
          left: -64px;
        }
        &::before {
          content: "";
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
        }
        &::after {
          content: "";
          display: block;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
        }
        &:last-child {
          left: auto;
          right: -72px;
          @include small {
            right: -64px;
          }
          &::before {
            left: auto;
            right: -24px;
            border-radius: 0 8px 8px 0;
            @include small {
              right: -16px;
            }
          }
          &::after {
            left: auto;
            right: 24px;
            border-radius: 8px 0 0 8px;
            @include small {
              right: 16px;
            }
          }
        }
      }
    }
  }
}
