-
  gallery = {
    title: 'GALERI PERISTIWA',
    list: [
      {
        to: 'gallery-detail.html',
        img: 'gallery-1.jpg',
        title: 'KEJUARAAN E-SPORT PIALA GUBERNUR JAWA BARAT 2023'
      },
      {
        to: 'gallery-detail.html',
        img: 'gallery-2.jpg',
        title: 'ATLET BULUTANGKIS ASAL JABAR, BERPRESTASI DI AJANG BWF WORLD TOUR ALL ENGLAND OPEN 2023, SELAMAT!'
      },
      {
        to: 'gallery-detail.html',
        img: 'gallery-1.jpg',
        title: 'KEJUARAAN E-SPORT PIALA GUBERNUR JAWA BARAT 2023'
      },
      {
        to: 'gallery-detail.html',
        img: 'gallery-2.jpg',
        title: 'ATLET BULUTANGKIS ASAL JABAR, BERPRESTASI DI AJANG BWF WORLD TOUR ALL ENGLAND OPEN 2023, SELAMAT!'
      },
      {
        to: 'gallery-detail.html',
        img: 'gallery-1.jpg',
        title: 'KEJUARAAN E-SPORT PIALA GUBERNUR JAWA BARAT 2023'
      },
      {
        to: 'gallery-detail.html',
        img: 'gallery-2.jpg',
        title: 'ATLET BULUTANGKIS ASAL JABAR, BERPRESTASI DI AJANG BWF WORLD TOUR ALL ENGLAND OPEN 2023, SELAMAT!'
      },
    ]
  };

include ../../layouts/gallery.pug
