-
  heroBanner = [
    {
      img: 'news-1.jpg',
      title: 'KEJUARAAN E-SPORT PIALA GUBERNUR JAWA BARAT 2023',
      desc: 'Pendaftaran Kejuaraan E-Sport Piala Gubernur Jawa Barat 2023 akan dibuka hari ini pukul 14.00 WIB. Daftarkan timmu untuk memperebutkan total hadiah ratusan juta rupiah!',
      date: '18 Juli 2023'
    },
    {
      img: 'news-2.jpg',
      title: 'penyelesaian administrasi untuk atlet dan pelatih penerima penghargaan olahraga tahun 2023',
      desc: 'Pendaftaran Kejuaraan E-Sport Piala Gubernur Jawa Barat 2023 akan dibuka hari ini pukul 14.00 WIB. Daftarkan timmu untuk memperebutkan total hadiah ratusan juta rupiah!',
      date: '18 Agustus 2023'
    },
    {
      img: 'news-3.jpg',
      title: 'kegiatan pelatihan pengembangan kewirausahaan pemuda bidang kuliner',
      desc: 'Pendaftaran Kejuaraan E-Sport Piala Gubernur Jawa Barat 2023 akan dibuka hari ini pukul 14.00 WIB. Daftarkan timmu untuk memperebutkan total hadiah ratusan juta rupiah!',
      date: '18 September 2023'
    },
    {
      img: 'news-4.jpg',
      title: 'pemuda pemudi terbaik ikuti seleksi ppap tahun 2023',
      desc: 'Pendaftaran Kejuaraan E-Sport Piala Gubernur Jawa Barat 2023 akan dibuka hari ini pukul 14.00 WIB. Daftarkan timmu untuk memperebutkan total hadiah ratusan juta rupiah!',
      date: '18 Desember 2023'
    },
    {
      img: 'news-5.jpg',
      title: 'gubernur beri kadeudeuh atlet sea games dan para games',
      desc: 'Pendaftaran Kejuaraan E-Sport Piala Gubernur Jawa Barat 2023 akan dibuka hari ini pukul 14.00 WIB. Daftarkan timmu untuk memperebutkan total hadiah ratusan juta rupiah!',
      date: '18 Desember 2023'
    },
  ];

include ../../layouts/hero-banner.pug
