-
  mainBanner = [
    {
      img: 'main-banner.jpg',
      alt: 'Main Banner',
    },
    {
      img: 'main-banner.jpg',
      alt: 'Main Banner',
    },
    {
      img: 'main-banner.jpg',
      alt: 'Main Banner',
    },
  ];

include ../../components/main-banner.pug
