-
  program = {
    title: 'PROGRAM',
    list: [
      {
        to: 'program-detail.html',
        img: 'program-1.png',
        alt: 'Program 1'
      },
      {
        to: 'program-detail.html',
        img: 'program-2.png',
        alt: 'Program 2'
      },
      {
        to: 'program-detail.html',
        img: 'program-3.png',
        alt: 'Program 3'
      },
      {
        to: 'program-detail.html',
        img: 'program-4.png',
        alt: 'Program 4'
      },
      {
        to: 'program-detail.html',
        img: 'program-5.png',
        alt: 'Program 5'
      },
      {
        to: 'program-detail.html',
        img: 'program-6.png',
        alt: 'Program 6'
      },
      {
        to: 'program-detail.html',
        img: 'program-7.png',
        alt: 'Program 7'
      },
      {
        to: 'program-detail.html',
        img: 'program-8.png',
        alt: 'Program 8'
      },
      {
        to: 'program-detail.html',
        img: 'program-9.png',
        alt: 'Program 9'
      },
    ]
  };

include ../../layouts/program-slider.pug
