-
  data = {
    modifier: true,
    img: 'mission.svg',
    title: 'Misi',
    desc: 'Misi kedua, melahirkan manusia yang berbudaya, berkualitas, bahagia dan produktif melalui peningkatan pelayanan publik yang inovatif;  dengan sasaran misi yaitu kesehatan juara, perempuan juara, olahraga juara, budaya juara, sekolah juara, guru juara, ibu juara, millenial juara, perguruan tinggi juara, dan smk juara'
  };

include ../../layouts/vision-mission.pug
