-
  data = {
    img: 'vision.svg',
    title: 'Visi',
    desc: 'Terwujudnya Jawa Barat Juara Lahir Batin Dengan Inovasi dan Kolaborasi" (nilai religius, nilai bahagia, nilai adil, nilai kolaboratif dan nilai inovatif)'
  };

include ../../layouts/vision-mission.pug
