//-------------------------------------------------------------------------------
  @name: title-page
  -------------------------------------------------------------------------------//

// title-page
.title-page
  .title-page__img
    ='\n'
    img.title-page__img__el(src="assets/img/dummy/profile-banner.jpg" alt="profile")/


='\n'
// end-title-page
