/* ==========================================================================
   Variable: z-index
   ========================================================================== */

$z-index: (
  header: 9,
  header-search: -1,
  header-search-before: 1,
  header-search-box: 1,
  header-dropdown-menu: 2,
  header-dropdown-before: 2,
  hero-banner-txt: 1,
  hero-banner-tag: 1,
  hero-banner-card-btn: 1,
  card-link: 2,
);
