/* ==========================================================================
   Variable: z-index
   ========================================================================== */

$z-index: (
  header: 9,
  header-inner: 2,
  header-bg-before: -1,
  header-search: -1,
  header-curtain: 1,
  header-layout: 1,
  header-search-before: 1,
  header-search-box: 1,
  header-dropdown-menu: 2,
  header-dropdown-before: 2,
  hero-banner-txt: 1,
  hero-banner-tag: 1,
  hero-banner-card-btn: 1,
  card-link: 2,
  card-badge: 2,
  card-overlay-before: 1,
  card-overlay-txt: 1,
  popup: 10,
  popup-bg: 9,
);
