/* ==========================================================================
   Variable: z-index
   ========================================================================== */

$z-index: (
  header: 9,
  header-search: -1,
  header-search-before: 1,
  header-search-box: 1,
);
