/* ==========================================================================
   Mixin Owl nav
   ========================================================================== */

@mixin owl-nav {
  .owl-nav {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: zi(owl-nav);
    transform: translateX(-50%);
    width: 1120px;
    @include clearfix;
    @include large {
      width: 100%;
    }
    @include small {
      display: none;
    }
    .owl-prev {
      float: left;
      margin-left: -20px;
      @include large {
        margin-left: 12px;
      }
    }
    .owl-next {
      float: right;
      margin-right: -20px;
      @include large {
        margin-right: 12px;
      }
    }
    .owl-prev,
    .owl-next {
      position: relative;
      width: 40px;
      height: 40px;
      @include shadow(5);
      background-color: color(white);
      @include radius(3);
      transition: all 0.3s ease;
      &:hover {
        background-color: color(primary);
        color: color(white);
      }
      i {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: zi(owl-nav-icon);
        transform: translate(-50%, -50%);
        @include font-size(24);
        line-height: 1;
      }
    }
  }
}
